<html>
	<head>
		<title>Embark</title>
		<link rel='stylesheet' href="../static/styles/css/style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<script type='text/javascript'>

			function selectImg(delta) {
				document.getElementById("rangePref").setAttribute('value',delta);

				if (delta=="inL") {
					document.getElementById("stamp_inL").style.opacity = 1;
					document.getElementById("stamp_doM").style.opacity = 0.45;
				}
				else {
					document.getElementById("stamp_doM").style.opacity = 1;
					document.getElementById("stamp_inL").style.opacity = 0.45;
				}
			}

			function submitForm () {
				document.getElementById('query1').submit();
			}

			document.onreadystatechange = function () {
  				var state = document.readyState
  				if (state == 'interactive') {
       				document.getElementById('contents').style.visibility="hidden";
  				} else if (state == 'complete') {
      			setTimeout(function(){
         		document.getElementById('interactive');
         		document.getElementById('load').style.visibility="hidden";
         		document.getElementById('contents').style.visibility="visible";
      			},1000);
  			}
		}
		</script>
		<center>
		<div class='varcont' style=''>

			<!-- Display Loader while feed loads-->
			<div id="load"></div>

			<a href='final1.html'><div class='btn_chck'><center><img src='../static/styles/img/cart-icon.png'></center></div></a>

			<div class="header" style="background-image:url('../static/styles/img/city_wrappers/{{city}}.jpg');" ></div>
			<p class='h1city'>{{city}}</p>
			
			<center>
				<b>Flight: </b> {{flightc}} <br>
				<b>Hotel: </b> {{hotelc}} <br><br>

					<b>Points of Interest</b>
					<table class='stampgrid'>
						<tr class='poI'>
					<td align='left'><a href='{{p1wikiurl}}'><img src='{{p1mainimg}}'></a></td>
					<td align='left'><a href='{{p2wikiurl}}'><img src='{{p2mainimg}}'></a></td>
					<td align='right'><a href='{{p3wikiurl}}'><img src='{{p3mainimg}}'></a></td>
				</tr>
					</table>

		</div>
		</center>
	</body>
</htmL>