<html>
	<head>
		<title>Embark</title>
		<link rel='stylesheet' href="../static/styles/css/style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<script type='text/javascript'>

			function selectImg(delta) {
				document.getElementById("rangePref").setAttribute('value',delta);

				if (delta=="inL") {
					document.getElementById("stamp_inL").style.opacity = 1;
					document.getElementById("stamp_doM").style.opacity = 0.45;
				}
				else {
					document.getElementById("stamp_doM").style.opacity = 1;
					document.getElementById("stamp_inL").style.opacity = 0.45;
				}
			}

			function submitForm () {
				document.getElementById('query1').submit();
			}

			document.onreadystatechange = function () {
  				var state = document.readyState
  				if (state == 'interactive') {
       				document.getElementById('contents').style.visibility="hidden";
  				} else if (state == 'complete') {
      			setTimeout(function(){
         		document.getElementById('interactive');
         		document.getElementById('load').style.visibility="hidden";
         		document.getElementById('contents').style.visibility="visible";
      			},1000);
  			}
		}

		function convertToForm(cityName) {
			document.getElementById('inCity').value = cityName;
			document.getElementById('result1').submit();
		}
		</script>
		<center>
		<div class='varcont' style=''>

			<!-- Display Loader while feed loads-->
			<div id="load"></div>

			<div class='feed' style='padding: 5%'>
			<p align='center'>We've identified the following destinations for you: <br></p>
				<div onClick='convertToForm("{{city1}}")' class='city-result' style='padding: 5% 5% 0.1% 5%; display: {{show1}}'>
					<div class='snapcity' style="background-image:url('../static/styles/img/city_wrappers/{{city1}}.jpg');" ></div>
					<p class='cityLabel'>{{city1}}&nbsp-&nbsp${{budget1}}</p>
				</div>
				<div onClick='convertToForm("{{city2}}")' class='city-result' style='padding: 5% 5% 0.1% 5%; display: {{show2}}'>
					<div class='snapcity' style="background-image:url('../static/styles/img/city_wrappers/{{city2}}.jpg');" ></div>
					<p class='cityLabel'>{{city2}}&nbsp-&nbsp${{budget2}}</p>
				</div>
				<div onClick='convertToForm("{{city3}}")' class='city-result' style='padding: 5% 5% 0.1% 5%; display: {{show3}}'>
					<div class='snapcity' style="background-image:url('../static/styles/img/city_wrappers/{{city3}}.jpg');" ></div>
					<p class='cityLabel'>{{city3}}&nbsp-&nbsp${{budget3}}</p>
				</div>
				<div onClick='convertToForm("{{city4}}")' class='city-result' style='padding: 5% 5% 0.1% 5%; display: {{show4}}'>
					<div class='snapcity' style="background-image:url('../static/styles/img/city_wrappers/{{city4}}.jpg');" ></div>
					<p class='cityLabel'>{{city4}}&nbsp-&nbsp${{budget4}}</p>
				</div>
			</div>
			<form method='post' action='result2.html' id='result1'>
				<input type='hidden' value='{{city1}}' name='city' id='inCity'>
			</form>
		</div>
		</center>
	</body>
</htmL>