<html>
	<head>
		<title>Embark</title>
		<link rel='stylesheet' href="../static/styles/css/style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<center>
		<div class='varcont'>
			
			<div class='rabat'></div>
			<img class='logo' src='../static/styles/img/logo.png'>
			<a href='query1.html'><div class='button'>Continue</div></a>
			
		</div>
		</center>
	</body>
</htmL>