<html>
	<head>
		<title>Embark</title>
		<link rel='stylesheet' href="../static/styles/css/style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<script type='text/javascript'>
			function selectImg1(delta) {
				document.getElementById("rangePref").setAttribute('value',delta);

				if (delta=="inL") {
					document.getElementById("stamp_inL").style.opacity = 1;
					document.getElementById("stamp_doM").style.opacity = 0.45;
				}
				else {
					document.getElementById("stamp_doM").style.opacity = 1;
					document.getElementById("stamp_inL").style.opacity = 0.45;
				}
			}

			function selectImg2(delta) {
				document.getElementById("catPref").setAttribute('value',delta);

				if (delta=="trS") {
					document.getElementById("stamp_trS").style.opacity = 1;
					document.getElementById("stamp_gtW").style.opacity = 0.45;
				}
				else {
					document.getElementById("stamp_gtW").style.opacity = 1;
					document.getElementById("stamp_trS").style.opacity = 0.45;
				}
			}

			function submitForm () {
				document.getElementById('query1').submit();
			}
		</script>
		<center>
		<div class='varcont'>
			<form method='post' action='query2.html' id='query1'>
			<table class='stampgrid'>
				<tr>
					<td colspan='2'>Help us find the perfect destination for you: <br></td>
				</tr>

				<tr class='catLast'>
					<td align='left' onclick='selectImg2("trS");'><img id='stamp_trS' src='../static/styles/img/stamp3.png'></td>
					<td align='right' onclick='selectImg2("gtW");'><img id='stamp_gtW' src='../static/styles/img/stamp4.png'></td>
				</tr>

				<tr>
					<td colspan='2'><br>Depart:<br><input type='date' name='depDate'></td>
				</tr>

				<tr>
					<td colspan='2'><br>Return:<br><input type='date' name='retDate'></td>
				</tr>

				<tr>
					<td><input type='hidden' id='catPref' name='catPref' value='trS' required></td>
					<td><input type='hidden' id='usLong' name='usLong' value=''></td>
					<td><input type='hidden' id='usLat' name='usLong' value=''></td>
				</tr>
				
			</table>
			<div class='button' onclick='submitForm()'>Continue</div>
			</form>
		</div>
		</center>
	</body>
</htmL>